@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #424b54;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product-card {
  transition: 0.5s;
}

.product-card:hover {
  opacity: 0.5;
}

.card-img {
  height: 23rem;
}

.single-card-img {
  height: 23rem;
  width: 23rem;
}

.product-list {
  height: 85vh;
  overflow-y: scroll;
}
